<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:c="http://www.springframework.org/schema/c"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="filterChainManager" class="me.kickscar.spring.security.web.FilterChainManager">
		<property name="filterConfigs">
			<array>
				<bean
					class="me.kickscar.spring.security.web.FilterConfigImpl"
					c:filterName="ex01"
					c:filterClass="me.kickscar.spring.security.filter.FilterEx01"
					c:urlPattern="/*"/>
				<bean
					class="me.kickscar.spring.security.web.FilterConfigImpl"
					c:filterName="ex02"
					c:filterClass="me.kickscar.spring.security.filter.FilterEx02"
					c:urlPattern="/ex02"/>
				<bean
					class="me.kickscar.spring.security.web.FilterConfigImpl"
					c:filterName="ex03"
					c:filterClass="me.kickscar.spring.security.filter.FilterEx03"
					c:urlPattern="/ex03/*"/>
				<bean
					class="me.kickscar.spring.security.web.FilterConfigImpl"
					c:filterName="ex04"
					c:filterClass="me.kickscar.spring.security.filter.FilterEx04"
					c:urlPattern="/ex04/test"/>
			</array>
		</property>
	</bean>

</beans>
