<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<util:map id="filterUrlPatternMap" map-class="java.util.HashMap">
		<entry key="/*" value-ref="filterAll"/>
		<entry key="/me/*" value-ref="filterMe"/>
		<entry key="/me/kickscar/*" value-ref="filterMeKickscar"/>
		<entry key="/me/kickscar/hello" value-ref="filterMeKickscarHello"/>
	</util:map>

	<bean id="filterAll" class="me.kickscar.spring.security.filter.FilterAll" />
	<bean id="filterMe" class="me.kickscar.spring.security.filter.FilterMe" />
	<bean id="filterMeKickscar" class="me.kickscar.spring.security.filter.FilterMeKickscar" />
	<bean id="filterMeKickscarHello" class="me.kickscar.spring.security.filter.FilterMeKickscarHello" />

	<bean
		id="filterChainManager"
		class="me.kickscar.spring.security.web.FilterChainManager"
		p:filterUrlPatternMap-ref="filterUrlPatternMap" />

</beans>
